<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Age">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="NID/BirthCertificate/PassportNo">
        </div>
        <div class="col">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Blood Group">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Location">
        </div>

    </div>
</form>