{% extends 'index.html' %}


{% block body  %}


<body>
    <div class="container">

        <h2 class="text-center">Available ICU </h2>
    </div>
    <table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>Hospital Name</th>
            <th>ICU Type</th>
            <th>Price</th>
            <th>Address</th>
        </tr>
        {% for ver in available_icu_ver %}
        {% if "1" == ver.is_available %}
        <tr>
            <td>{{ver.id}}</td>
            <td>{{ver.hospital_name}}</td>
            <td>{{ver.icu_type}}</td>
            <td>{{ver.price}}</td>
            <td>{{ver.address}}</td>
        </tr>
        {% endif %}
        {% endfor %}


    </table>

    <form class="form-inline" method="post" action="/Reserve_Page/Available_ICU/Confirm_Booking">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Book By ID" aria-label="Book By ID" aria-describedby="basic-addon1" name="ID_Number" id="ID_Number">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Book </button>
        </form>

    <a href="/Reserve_Page/Available_ICU/See_Reserved_ICU" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">See Reserved ICU</a>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
{% endblock body %}