{% extends 'index.html' %}


{% block body  %}
<body>
    <div class="container">
        <h2 class="text-center">Available Hospital Bed </h2>
    </div>
    <table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>Hospital Name</th>
            <th>Bed Number</th>
            <th>Price per day</th>
            <th>Available AC</th>
            <th>Address</th>
        </tr>
        {% for ver in available_hospital_bed_ver %}
        {% if "1" == ver.is_available %}
        <tr>
            <td>{{ver.id}}</td>
            <td>{{ver.hospital_name}}</td>
            <td>{{ver.bed_number}}</td>
            <td>{{ver.price_per_day}}</td>
            <td>{{ver.available_ac}}</td>
            <td>{{ver.address}}</td>
        </tr>
        {% endif %}
        {% endfor %}


    </table>

        <form class="form-inline" method="post" action="/Reserve_Page/Available_Hospital_Bed/Confirm_Booking_For_Hospital_Bed">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Book By ID" aria-label="Book By ID" aria-describedby="basic-addon1" name="ID_Number" id="ID_Number">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Book </button>
        </form>


    <a href="/Reserve_Page/Available_Hospital_Bed/See_Reserved_Hospital_Bed" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">See Reserved Hospital Bed</a>
<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
{% endblock body %}