{% extends 'index.html' %}


{% block body  %}
<div align="center">
    <p><br><br><br><br><br><br><br><br><br><br></p>
    <a class="btn btn-primary" href="show_plasma_request" role="button">View Request List For Plasma</a>
    <a class="btn btn-primary" href="show_plasma_donate_request" role="button">View Donor List</a>
    <a class="btn btn-primary" href="donate_plasma_form" role="button">Register As a Plasma Donor</a>
</div>
<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
{% endblock body %}
