{% extends 'index.html' %}


{% block body  %}
  <body>
<!--  <img src="https://i.ibb.co/yV2hLZL/Shoot-Button-Img.png" alt="logo" />-->
<!-- <p style="text-align:center">-->
<!-- <p> <h1>  <img src="https://i.ibb.co/yV2hLZL/Shoot-Button-Img.png" alt="logo"</img> Hello</h1>-->

<!-- </p>-->
<!--</p>-->
<p><br><br></p>
    <div class= "container">


        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.ibb.co/DGxQ43Z/stock-photo-ekg-monitor-at-icu-in-hospital-operating-theatre-711326785.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="color:White">See Available ICU</h2>
        <a class="btn btn-primary" href="/Reserve_Page/Available_ICU" role="button">Click Here</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/2kvndNc/daan-stevens-y-GUu-MIqj-Ir-U-unsplash.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="color:White">See Available Hospital Bed</h2>
        <a class="btn btn-primary" href="/Reserve_Page/Available_Hospital_Bed" role="button">Click Here</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    </div>
<p><br><br><br></p>
{% endblock body %}